body {
    background-color: lightblue;
}

a.button {
    background-color: blue;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;;
}